@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content py-2 ">
            @Body
        </article>
    </main>
</div>