<div class="nav flex-column nav-pills  p-2 rounded-0 ">
    <NavLink class="nav-link rounded-0" href="students" Match="NavLinkMatch.All">
        Students
    </NavLink>
    <NavLink class="nav-link rounded-0" href="courses" Match="NavLinkMatch.All">
        Courses
    </NavLink>
    <NavLink class="nav-link rounded-0" href="enrollments" Match="NavLinkMatch.All">
        Enrollments
    </NavLink>
</div>